/**
** Sticky Footer
**/

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/**
** Site-wide Styling
**/
.menu {
  border-radius: 0 !important;
}

.red {
  color: #D01919;
}

.text-center {
  text-align: center;
}

footer {
  background-color: #007e79 !important;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}
